
h1{
	color: red;
}
table {
	border-collapse: collapse;
	width: 300px;
}
table, th, td {
	border: 1px solid black;
}
.addProduct {
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}
